h1 {
    background-color: #4169E1;
    color: #FFFFFF;
    padding: 20px;
}

h2 {
    border-bottom: solid 3px #0000CD;
    padding-left: 10px;
}

th {
    background: #CCCCCC;
    padding: 3px 10px;
}

td {
    background: #EEEEEE;
    padding: 3px 10px;
}

#lastupdate {
    text-align: right;
    font-size: 0.7em;
}

.badge {
    color: #FFFFFF;
    background: #00AA00;
    font-weight: 900;
    font-size: 0.6em;
    padding: 1px;
    border: none;
}

.japan {
    background: #FFFFE0;
    color: #FF0000;
    font-weight: 900;
}
